# config
.DS_Store
.idea

# env
node_modules
.env
.env.local
.env.development
.env.uat
.env.staging
.env.production

# log
*.log
nohup.out

# generated
/dist
/profiling
*.scss.d.ts
/src/entry.tsx
coverage

# archives
src/_archives
mock/_archives

# personal
todo
.cli-track

# testing
/coverage
/.nyc_output
/test-results/
/playwright-report/
/playwright/.cache/
